---
title: Επαλήθευση EDU
ms.author: pebaum
author: pebaum
manager: mnirkhe
ms.audience: Admin
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "1500009"
- "5578"
ms.openlocfilehash: 1889eb9b18f312da00196d575376960bc6b028fd
ms.sourcegitcommit: 9e44b852d18a2816acac0aacb78cb99b4c114368
ms.translationtype: MT
ms.contentlocale: el-GR
ms.lasthandoff: 07/22/2020
ms.locfileid: "45205267"
---
# <a name="edu-verification"></a>Επαλήθευση EDU

Στις περισσότερες περιπτώσεις, τα αιτήματα ακαδημαϊκής επιλεξιμότητας υποβάλλονται σε επεξεργασία εντός 24-48 ωρών. Ορισμένα αιτήματα ενδέχεται να απαιτούν πιο ενδελεχή έλεγχο και μπορεί να χρειαστούν έως και 10 εργάσιμες ημέρες για την επεξεργασία τους. Μόλις ολοκληρωθεί, θα στείλουμε ένα email με την κατάσταση επιλεξιμότητας του σχολείου σας.

**Σημαντικό** Εάν εξέλθατε από τον οδηγό επαλήθευσης πριν από την είσοδο σε έναν τομέα, μπορείτε να [συνεχίσετε τον οδηγό ακαδημαϊκής επαλήθευσης](https://go.microsoft.com/fwlink/p/?linkid=2135255) οποιαδήποτε στιγμή κατά τη διάρκεια της δωρεάν δοκιμαστικής έκδοσης.

Εάν θέλετε να ελέγξετε την κατάσταση του τομέα σας, μεταβείτε στο κέντρο διαχείρισης του [Microsoft 365](https://go.microsoft.com/fwlink/p/?linkid=2024339). Στην κεντρική σελίδα, μετακινηθείτε προς τα κάτω και βρείτε την κάρτα **χρέωσης.** Η κάρτα **χρέωσης** υποδεικνύει την κατάσταση της διαδικασίας επαλήθευσης (εγκεκριμένη, σε εκκρεμότητα, απορρίφθηκε ή προσθήκη του τομέα σας).

Αν το αίτημά σας απορριφθεί, ανατρέξτε στο θέμα [Το σχολείο μου δεν πληροί τις προϋποθέσεις. Τι να κάνω τώρα;](https://docs.microsoft.com/microsoft-365/commerce/subscriptions/verify-academic-eligibility#my-school-isnt-eligible-what-do-i-do-now)