---
title: 8000038 ΑΕΓΧΠΠ επαλήθευση παιδικού λογαριασμού
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 6ad5de2c3595c775d7b5080c2ac116dd002e6777
ms.sourcegitcommit: c6692ce0fa1358ec3529e59ca0ecdfdea4cdc759
ms.translationtype: MT
ms.contentlocale: el-GR
ms.lasthandoff: 09/14/2020
ms.locfileid: "47707963"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Η ημερομηνία γέννησης που εμφανίζεται στο λογαριασμό Microsoft είναι εσφαλμένη

Η Microsoft λαμβάνει την ασφάλεια του λογαριασμού πολύ σοβαρά. Ενδέχεται να σας ζητήθηκε πρόσφατα να παράσχετε γονική συναίνεση για το λογαριασμό Microsoft ενός παιδιού. Εάν χρειάζεστε βοήθεια για να παράσχετε γονική συναίνεση ή να ενημερώσετε την ημερομηνία γέννησης σε ένα λογαριασμό Microsoft, ανατρέξτε στο θέμα [Επαλήθευση ηλικίας για τη γονική συναίνεση](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Μάθετε περισσότερα σχετικά με τη [γονική συναίνεση και τους θυγατρικούς λογαριασμούς Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  