---
title: 8000038 Επαλήθευση παιδικού λογαριασμού GDPR
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 238d1440438bce2531f1a57f5592a204cf9c3cf3
ms.sourcegitcommit: 55eff703a17e500681d8fa6a87eb067019ade3cc
ms.translationtype: MT
ms.contentlocale: el-GR
ms.lasthandoff: 04/22/2020
ms.locfileid: "43764980"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Η ημερομηνία γέννησης που εμφανίζεται στο λογαριασμό Microsoft δεν είναι σωστή

Η Microsoft λαμβάνει πολύ σοβαρά υπόψη την ασφάλεια των λογαριασμών. Ενδέχεται να σας ζητήθηκε πρόσφατα να δώσετε γονική συγκατάθεση για το λογαριασμό Microsoft ενός παιδιού. Εάν χρειάζεστε βοήθεια για την παροχή γονικής συναίνεσης ή την ενημέρωση της ημερομηνίας γέννησης σε ένα λογαριασμό Microsoft, ανατρέξτε στο θέμα [Επαλήθευση ηλικίας για γονική συγκατάθεση](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Μάθετε περισσότερα σχετικά με [τη γονική συγκατάθεση και τους παιδικούς λογαριασμούς Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  