---
title: 8000038 επαλήθευσης λογαριασμού παιδιού ΓΚΠΔ
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 04/21/2020
ms.audience: ITPro
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom:
- "772"
- "788"
- "8000038"
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: 844679cba6b109a2c552c38e1884040cd545cd260930eb7aabed6ed0911c8a50
ms.sourcegitcommit: b5f7da89a650d2915dc652449623c78be6247175
ms.translationtype: MT
ms.contentlocale: el-GR
ms.lasthandoff: 08/05/2021
ms.locfileid: "54056994"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Η ημερομηνία γέννησης που εμφανίζεται στο λογαριασμό Microsoft δεν είναι σωστή

Η Microsoft λαμβάνει πολύ σοβαρά υπόψη την ασφάλεια. Ενδέχεται να σας έχει ζητηθεί πρόσφατα να δώσετε γονική συγκατάθεση για το λογαριασμό Microsoft ενός παιδιού. Εάν χρειάζεστε βοήθεια για την παροχή γονικής συγκατάθεσης ή την ενημέρωση της ημερομηνίας γέννησης σε ένα λογαριασμό Microsoft, ανατρέξτε στο θέμα [Επαλήθευση ηλικίας για γονική συγκατάθεση.](https://go.microsoft.com/fwlink/p/?linkid=874364)
  
Μάθετε περισσότερα σχετικά με τη [γονική συγκατάθεση και τους λογαριασμούς παιδιών της Microsoft.](https://go.microsoft.com/fwlink/p/?linkid=874365)
  