---
title: 8000038 έλεγχος λογαριασμού παιδιού ΑΕΓΧΠΠ
ms.author: daeite
author: daeite
manager: jackiesm
ms.date: 5/16/2018
ms.audience: ITPro
ms.topic: article
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Normal
ms.custom: 8000038
ms.assetid: 9039e40c-62d4-4658-ab5b-2649ba738c40
ms.openlocfilehash: c664adf9fdb0306b3407a5c23628aa4c7bbd5b83
ms.sourcegitcommit: 9d78905c512192ffc4675468abd2efc5f2e4baf4
ms.translationtype: MT
ms.contentlocale: el-GR
ms.lasthandoff: 04/23/2019
ms.locfileid: "32400969"
---
# <a name="date-of-birth-displayed-in-your-microsoft-account-is-incorrect"></a>Ημερομηνία γέννησης εμφανίζεται στο λογαριασμό σας Microsoft είναι εσφαλμένη

Microsoft λαμβάνει σοβαρά λογαριασμού ασφαλείας. Μπορείτε να πρόσφατα έχει ζητηθεί να δώσετε γονική συναίνεση για λογαριασμό Microsoft του παιδιού. Εάν χρειάζεστε βοήθεια, παρέχοντας γονική συναίνεση ή να ενημερώσετε την ημερομηνία γέννησης σε ένα λογαριασμό Microsoft, ανατρέξτε στην ενότητα [επαλήθευση ηλικίας για γονική συναίνεση](https://go.microsoft.com/fwlink/p/?linkid=874364).
  
Μάθετε περισσότερα για [γονική συναίνεση και θυγατρικών λογαριασμών της Microsoft](https://go.microsoft.com/fwlink/p/?linkid=874365).
  

