---
title: Αντιμετώπιση προβλημάτων επαλήθευσης εκδότη
ms.author: v-smandalika
author: v-smandalika
manager: dansimp
ms.date: 01/15/2021
ms.audience: Admin
ms.topic: article
ms.service: o365-administration
ROBOTS: NOINDEX, NOFOLLOW
localization_priority: Priority
ms.collection: Adm_O365
ms.custom:
- "9004323"
- "7712"
ms.openlocfilehash: d4d0a78256a869ef4c1e19fe1ceb590824b10817
ms.sourcegitcommit: 6dc6f999e840c90694a246b90062950205679420
ms.translationtype: MT
ms.contentlocale: el-GR
ms.lasthandoff: 01/15/2021
ms.locfileid: "49885054"
---
# <a name="issues-related-to-publisher-verification-for-developers"></a>Θέματα που σχετίζονται με την επαλήθευση του Publisher για προγραμματιστές

**Συνιστώμενα βήματα** 

Για να επιλύσετε προβλήματα που σχετίζονται με την επαλήθευση του Publisher, εκτελέστε τα παρακάτω βήματα:

1. Εξετάστε τις προϋποθέσεις και άλλες απαιτήσεις για να βεβαιωθείτε ότι όλες πληρούνται.
2. Εξετάστε τις οδηγίες για να [επισημάνετε μια εφαρμογή ως εκδότη που επαληθεύτηκε](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) και να βεβαιωθείτε ότι όλα τα βήματα έχουν εκτελεστεί με επιτυχία.
3. Εξετάστε τη λίστα με τα [συνηθισμένα προβλήματα](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#common-issues) και ακολουθήστε τα συνιστώμενα βήματα, εάν αντιμετωπίζετε κάποιο πρόβλημα από μια τέτοια λίστα.
4. Αναπαραγάγετε την αίτηση χρησιμοποιώντας το [Graph Explorer](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification#making-microsoft-graph-api-calls) για να συγκεντρώσετε πρόσθετες πληροφορίες και να αποκλείσετε τυχόν προβλήματα στο περιβάλλον εργασίας χρήστη.

**Προτεινόμενα έγγραφα**

- [Επαλήθευση εκδότη-επισκόπηση](https://docs.microsoft.com/azure/active-directory/develop/publisher-verification-overview) 
- [Σήμανση της εφαρμογής σας ως επαληθευμένου εκδότη](https://docs.microsoft.com/azure/active-directory/develop/mark-app-as-publisher-verified) 
- [Αντιμετώπιση προβλημάτων επαλήθευσης εκδότη](https://docs.microsoft.com/azure/active-directory/develop/troubleshoot-publisher-verification)

